body {
  background-color: #3e3e3e;
  font-family: Helvetica;
}

.navbar {
padding: 0;
    background-color: dodgerblue;
    color: white;
    width: 100%;

    display: flex;
    justify-content: center;
}

.navbar a {
padding: 20px;
text-decoration: none;
color: white;
transition: ease 0.2s;
}

.navbar a:hover {
background-color: white;
color: dodgerblue;

}


.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.card {
  padding: 5px;
  background-color: #455e6d;
  border-radius: 20px;
}

.name {
  max-width: 350px;
}
.main .descripcion {
  max-width: 380px;
}

.thumbnail {
  width: 100%;
  border-radius: 12px;
}

.card {
  padding: 15px;
}

.marvel {
  text-decoration: none;
  color: #5a0707;
}

@media only screen and (max-width: 800px){
  .main {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 500px){
  .main {
    grid-template-columns: repeat(1, 1fr);
  }
}

form {
    margin: 20px;
    padding: 20px;
    border: 1px sold #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="number"] {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
}

input[type='number']{
    width: 80px;
}

input[type='submit']{
    background-color: #4caF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
input[type="submit"]:hover {
        background-color: #45a049;
    }