body {
  background-color: #3e3e3e;
  font-family: Helvetica;
}

.navbar {
padding: 0;
    background-color: dodgerblue;
    color: white;
    width: 100%;

    display: flex;
    justify-content: center;
}

.navbar a {
padding: 20px;
text-decoration: none;
color: white;
transition: ease 0.2s;
}

.navbar a:hover {
background-color: white;
color: dodgerblue;

}


.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.card {
  background-color: #455e6d;
  border-radius: 20px;
  height: inherit;
  padding: 15px;
}

.card:hover {
    filter: drop-shadow(0 0 2px white);
}

.back {
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    background-color: dodgerblue;
    color: white;
    transition: ease in;
    width: 150px;
    border-radius: 12px;
    text-align: center;
}

.back:hover {
    color: black;
    background-color: red;
}

.name {
  max-width: 350px;
}
.main .descripcion {
  max-width: 380px;
}

.thumbnail {
  width: 100%;
  border-radius: 12px;
}

.marvel {
  text-decoration: none;
  color: #5a0707;
}

@media only screen and (max-width: 800px){
  .main {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 500px){
  .main {
    grid-template-columns: repeat(1, 1fr);
  }
  .navbar {
    flex-direction: column;
  }
}

form {
    margin: 20px;
    padding: 20px;
    border: 1px sold #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="number"] {
    max-width: 200px;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

input[type='number']{
    width: 80px;
}
.personaje_image {
    max-width: 100%;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
}
.personaje_descripcion {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0,.6);
    color: white;
    max-width: 500px;
    margin: 20px auto;
    border-radius: 12px;
}

input[type='submit']{
    background-color: #4caF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
input[type="submit"]:hover {
        background-color: #45a049;
    }
.linkPersonaje, .linkPersonaje h3 {
    text-decoration: none;
    color: black;
}