<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav class="navbar">
    <a href="/" class="navbar-brand">Home</a>
    <a href="/buscar_personaje" class="navbar-brand">Buscar Personaje</a>
    <a href="/buscar_comic" class="navbar-brand">Buscar Comic</a>
</nav>

<h1>Marvel Chars</h1>
<h2>Informacion proveida por:
    <a class="marvel" href="http://marvel.com">
        Data provided by Marvel. © 2023 MARVEL
    </a>
</h2>
{% block content %}{%  endblock %}
</body>
</html>