<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <title>Buscar Por Personaje</title>
</head>
<body>

{% extends "base.html" %}

<h1>Hola Personaje</h1>

{% block content %}
<form method="get">
    <label for="buscar_personaje">Buscar Personaje: </label>
    <input type="text" name="buscar_personaje" id="buscar_personaje" placeholder="Nombre del personaje">
    <input type="number" name="numero_personajes" id="numero_personajes" placeholder="Numero de personajes">
    <input type="submit" value="Buscar">
</form>

<div class="main">
    {% if resultado %}
    {% for item in resultado %}
    <div class="card">
        <h3>{{item.name}}</h3>
        <img src="{{item.thumbnail['path']}}.{{item.thumbnail['extension']}}" alt="Imagen de {{item.name}}" class="thumbnail">
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}


</body>
</html>